*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.page{
    width:100vw;
    height:100vh;

    background:#F6DDDA;

    display:flex;
    align-items:center;
    justify-content:space-between;

    overflow:hidden;
}

/* LEFT SIDE */

.left-panel{

    width:25vw;
    height:95vh;

    background:#4D1205;

    border-top-right-radius:80% 50%;
    border-bottom-right-radius:80% 50%;
display:flex;
    
    justify-content:center;
    align-items:center;


}

.logo{
    width:430px;
}

/* RIGHT CARD */

.card{

    width:800px;
    height:800px;

    background:white;

    border-radius:18px;

    border:1px solid #444;

    box-shadow:0 4px 10px rgba(0,0,0,.20);

    margin-right:80px;
    margin-left:80px;

    position:relative;
}

/* HEADING */

.card h1{
    font-size:64px;
    font-family:Georgia, serif;
    font-weight:700;
}

/* INPUT */

.input-field{

    position:absolute;

    top:365px;
    left:55px;

    width:610px;
    height:90px;

    background:#F7CCCC;

    border:1px solid #999;

    border-radius:18px;

    padding-left:30px;

    font-size:28px;

    outline:none;

    box-shadow:0 4px 8px rgba(0,0,0,.15);
}

.input-field::placeholder{
    color:#8E7575;
}

/* BUTTON */

.continue-btn{

    position:absolute;

    top:560px;

    left:50%;

    transform:translateX(-50%);

    width:340px;

    height:76px;

    border:none;

    border-radius:40px;

    background:#8D2F2A;

    color:#fff;

    font-size:30px;

    font-family:Georgia, serif;

    cursor:pointer;

    box-shadow:0 5px 10px rgba(0,0,0,.15);

    transition:.3s;
}

.continue-btn:hover{
    background:#742521;
}

/* ================= EMAIL PAGE ================= */

.email-title{
    position:absolute;

    top:140px;

    left:50%;

    transform:translateX(-50%);

    width:100%;

    text-align:center;

    font-size:64px;

    font-family:Georgia, serif;

    font-weight:700;
}

.input-field{

    position:absolute;

    top:320px;

    left:50%;

    transform:translateX(-50%);

    width:610px;
    height:90px;

    background:#F7CCCC;

    border:1px solid #999;

    border-radius:18px;

    padding-left:30px;

    font-size:28px;

    outline:none;

    box-shadow:0 4px 8px rgba(0,0,0,.15);
}

/* ================= OTP PAGE ================= */

.otp-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.otp-title{
    font-size:72px;
    font-family:Georgia, serif;
    font-weight:700;
    margin-bottom:70px;
}

.otp-boxes{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    margin-bottom:70px;
}

.otp-input{
    width:110px;
    height:165px;

    background:#F7CCCC;

    border:2px solid #555;
    border-radius:22px;

    font-size:60px;
    text-align:center;

    outline:none;

    box-shadow:0 5px 10px rgba(0,0,0,.18);
}

.otp-input:focus{
    border-color:#8D2F2A;
}

.verify-btn{

    width:330px;
    height:72px;

    border:none;

    border-radius:40px;

    background:#8D2F2A;

    color:white;

    font-size:30px;

    font-family:Georgia, serif;

    cursor:pointer;

    margin-top:20px;
}

.verify-btn:hover{
    background:#742521;
}

.resend{

    margin-top:35px;

    font-size:34px;

    font-family:Georgia, serif;

    text-decoration:underline;

    cursor:pointer;
}

/* ================= REGISTER PAGE ================= */

.register-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-top:60px;
}

.register-title{
    font-size:64px;
    font-family:Georgia, serif;
    font-weight:700;
    margin-bottom:60px;
}

.register-form{
    width:680px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.register-input{
    width:100%;
    height:90px;

    background:#F7CCCC;

    border:1px solid #999;
    border-radius:18px;

    padding-left:30px;

    font-size:28px;

    outline:none;

    box-shadow:0 4px 8px rgba(0,0,0,.15);
}

.register-input::placeholder{
    color:#8E7575;
}

.register-btn{
    width:340px;
    height:72px;

    margin:30px auto 0;

    border:none;
    border-radius:40px;

    background:#8D2F2A;

    color:white;

    font-size:30px;
    font-family:Georgia, serif;

    cursor:pointer;
}

.register-btn:hover{
    background:#742521;
}/* ================= REGISTER PAGE ================= */

.register-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-top:60px;
}

.register-title{
    font-size:64px;
    font-family:Georgia, serif;
    font-weight:700;
    margin-bottom:60px;
}

.register-form{
    width:680px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.register-input{
    width:100%;
    height:90px;

    background:#F7CCCC;

    border:1px solid #999;
    border-radius:18px;

    padding-left:30px;

    font-size:28px;

    outline:none;

    box-shadow:0 4px 8px rgba(0,0,0,.15);
}

.register-input::placeholder{
    color:#8E7575;
}

.register-btn{
    width:340px;
    height:72px;

    margin:30px auto 0;

    border:none;
    border-radius:40px;

    background:#8D2F2A;

    color:white;

    font-size:30px;
    font-family:Georgia, serif;

    cursor:pointer;
}

.register-btn:hover{
    background:#742521;
}
