/* ==========================
   NAVBAR
========================== */

.navbar{

height:74px;

background:#ffffff;

border-radius:12px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 26px;

box-shadow:
0 3px 12px rgba(0,0,0,.15);

}

/* Left */

.navbar-left{

display:flex;
align-items:center;
gap:18px;

}

.menu-icon{

font-size:38px;

cursor:pointer;

color:#222;

}

.navbar-left h1{

font-size:24px;

font-weight:600;

color:#222;

}

/* Right */

.navbar-right{

display:flex;
align-items:center;

gap:18px;

}

/* Notification */

.notification{

position:relative;

font-size:34px;

cursor:pointer;

color:#111;

}

.badge{

position:absolute;

top:-4px;
right:-6px;

background:red;

width:18px;
height:18px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

color:#fff;

font-size:11px;

font-weight:bold;

}

/* Avatar */

.admin-image{

width:52px;
height:52px;

border-radius:50%;

object-fit:cover;

}

/* Text */

.admin-info h4{

font-size:18px;

font-weight:600;

color:#111;

margin-bottom:2px;

}

.admin-info p{

font-size:13px;

color:#666;

}

.dropdown-icon{

font-size:28px;

cursor:pointer;

color:#333;

}